body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid rgb(235, 235, 235);
    padding: 8px;
}

th {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover{
    background-color: rgb(207, 216, 219);
}

form {
    margin-top: 10px;
}

input, select {
    width: 60%;
    padding: 6px;
    margin-bottom: 10px;
}

button {
    padding: 6px 10px;
    margin-top: 5px;
    cursor: pointer;
}
.knappoversikt{
    margin: 10px;
    padding: 20px;
    font-size: 18px;
}
.knappoversikt:hover{
    transform: scale(1.08);
}
.containerknapp{
    background-color: white;
    padding: 50px;
    max-width: 600px;
    border-radius: 20px;
    margin: 30px auto;
    border: 1px solid #ccc;
    align-content: center;
    display: flex;
    justify-content: center;
}
.loginknapp{
    padding: 20px;
    border-radius: 3px;
    border: 0px;
    margin: 5px;
    font-size: 16px;
    margin-left: 15px;
}
.loginknapp:hover {
    background-color: #e7f7e8;

    transform: scale(1.06);
}
.loginnav{
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ccc;
}
.overskirftindex{
    text-align: center;
}
.ny{
font-size: 16px;
padding: 20px;
border: 2px solid #8f9091; /* bytt #3498db til ønsket farge */
border-radius: 6px;
}
.ny:hover{
    transform: scale(1.04);
    transition: 200ms;
    background-color: rgb(232, 255, 223);
}

